<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <parameter name="username" value="narinebettest"/>
    <parameter name="password" value="_f8RyXePcdB.@uT"/>
    <test name="verifyUrlWhenLogIn">
        <classes>
            <class name="UrlTest"/>
        </classes>
    </test>
</suite>